@page "/listado-actividad-ambiental"
@*@using Blazored.Modal.Services
@using SARAS.Frontend.Controlador.ActividadController
@using SARAS.Frontend.Transversal.DTO.ActividadEconomicaAmbientalDTO

@inject IActividadEconomicaAmbientalController controlador*@
@using SARAS.Frontend.Wasm.Components.ActividadEconomicaSocial
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <HeadPageComponent Titulo="SARAS" Categoria="Configuración de actividades y destinos económicos" Pagina="Actividad económica ambiental" />
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-controls="flush-CollapseOne">
                        Agregar nueva actividad económica
                    </button>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div id="progressbarwizard">
                                @*<WizardPestañasActividadEconomicaAmbientalComponent Wizard="controlador.Wizard" ErrorColor="ErrorColor" />*@
                                <div class="tab-content b-0 mb-0">
                                   @* <WizardHeadActividadEconomicaAmbientalComponent BarraPorcentaje="@controlador.BarraPorcentaje" 
                                    MostrarLoader="controlador.MostrarLoader"/>*@
                                    <FrmActividadEconomicaSocialComponent @* Wizard="controlador.Wizard"
                                                                         actividadAmbientalFrmDTO="actividadAmbientalFrmDTO"
                                                                          ActividadEconomicaAmbientalDTO="actividadEconomicaAmbientalDTO" 
                                                                          Siguiente="ValidarActividadEconomica" *@ />
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="tab-content b-0 mt-2 mb-0">
                <TablaActividadEconomicaAmbientalComponent />
            </div>
        </div>
    </div>
</div>

@code {
    //[CascadingParameter] public IModalService Modal { get; set; }
    //private bool Error = false;
    //private string ErrorColor = "";
    //private bool EnAccion= false;
    //private ActividadAmbientalFrmDTO actividadAmbientalFrmDTO = new ActividadAmbientalFrmDTO();
    //private List<ActividadEconomicaAmbientalDTO> actividadEconomicaAmbientalDTO = new List<ActividadEconomicaAmbientalDTO>();
    
    //protected override async Task OnParamentersSetAsync(){
    //    //var obtenerRiesgo   = await actividadAmbientalFrmDTO.ObtenerRiesgo(new BrowserRequestCache )
    //}

    //private async Task ValidarActividadEconomica()
    //{
    //    if (EnAccion)
    //        return;

    //    EnAccion = true;
    //    bool validador = true;
        

    //    if (validador)
    //    {
    //        //var cuenta = new CuentaObtenerInformacionDTO
    //        //    {
    //        //        Cuenta = actividadAmbientalFrmDTO.nombreCategoria
    //        //    };
    //        //var monedaCuenta = await productoAplicacion.ObtenerInformacionCuenta(cuenta);
    //        //actividadAmbientalFrmDTO.moneda = (monedaCuenta.Entidad.Moneda == "LPS") ? "L" : "$";
    //        EnAccion = false;
    //        await controlador.Siguiente();
    //    }
    //}
}
